---
// import Newsletter from '@components/Newsletter'
// import PastEditions from '@components/PastEditions.astro'
// import EditionPlaceholder from '@components/EditionPlaceholder.astro'
// import LastEdition from '@components/LastEdition.astro'

import LastEdition from "./LastEdition.astro";
import Newsletter from "./Newsletter.astro";
import uiLang from '../../public/i18n/ui.json';


interface Props {
    survey: string;
    locale: "en";
    surveys: string;
    editions: String;
};

// const allEditions = (editions)
//     .sort((e1, e2) => e2.year - e1.year)
//     .filter(e => [statuses.preview, statuses.open, statuses.closed].includes(e.status))
const { id } = survey;

// const [lastEdition, ...pastEditions] = allEditions
// const openEdition = allEditions.find(e => e.status === statuses.open)
// const closedEditions = allEditions.filter(e => e.status === statuses.closed)
---

<div
  class="w-full flex flex-col items-center justify-center text-center [&>h1]:text-3xl [&>h1]:font-bold gap-y-4"
>
  <h1>
    {uiLang["index.homepage"][locale]}
  </h1>

  <LastEdition locale={locale}></LastEdition>

  <div class="opacity-80 flex flex-col gap-y-5 text-lg">
    <p>{uiLang["index.intro"][locale][0]}</p>
    <p>{uiLang["index.intro"][locale][1]}</p>
    <p>{uiLang["index.intro"][locale][2]}</p>
  </div>
  <Newsletter locale={locale}></Newsletter>

</div>
