---
interface Props {
    locale: "en";
};
const { edition, locale, survey } = Astro.props;
import { Image } from "astro:assets";
import logo from './../assets/images/Logo.png';
import uiLang from '../../public/i18n/ui.json';

---

<section class="w-full relative">
  <div class="">
    <div
      class="[&_h4]:w-fit [&_h4]:py-2 [&_h4]:px-3 [&_h4]:uppercase [&_h4]:font-semibold [&_h4]:absolute [&_h4]:top-0 [&_h4]:z-10"
    >
      <h4 class="bg-secondary">{uiLang["last.edition.title"][locale]}</h4>

      <h4 class="bg-primary text-black/80 right-0">2023</h4>

      <a class="w-full h-full">
        <img src={logo.src} alt="" class="w-full aspect-auto scale-90" />
      </a>
    </div>
    <a class="w-full border border-dashed border-primary block py-2 mt-6 mb-2">
      <span class="text-lg">{uiLang["last.edition.btn"][locale]}</span>
    </a>
  </div>
</section>
