---

---

<div
  class="bg-background w-full flex items-center justify-center py-3 mb-3 text-sm"
>
  <div class="">
    Otras encuestas:
    <a class="text-primary font-semibold" href="/surveys/1"
      >Prueba de concepto ❤️</a
    >
  </div>
</div>
