---
const { locale } = Astro.props
import '../stylesheets/_newsletter.scss'
import uiLang from '../../public/i18n/ui.json';
interface Props {
    locale: "en";
};
---
<div class="newsletter">
    <h3 class="newsletter-heading">
        {uiLang["index.newsletter"][locale][0]}
    </h3>
    <p class="newsletter-details">
        {uiLang["index.newsletter"][locale][1]}
    </p>
    <div class="newsletter-form">
        <form
            method="post"
        >
            <input
            class="newsletter-email"
                id="field_0"
                name="field_0"
                type="email"
            />
            <input
                type="text"
                
                tabindex={-1}
                autocomplete="nope"
                style={{ display: 'none' }}
            />
            <button type="submit" name="subscribe" class="newsletter-button button">
                {uiLang["index.newsletter"][locale][2]}
            </button>
        </form>
    </div>
</div>